<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Trading Agent Invoker</title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/github-fork-ribbon-css/gh-fork-ribbon.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body data-bs-theme="light">

<nav th:replace="~{layout/nav.html}"></nav>

<section layout:fragment="content">
  <p>Page content goes here</p>
</section>

<footer>
  <a class="github-fork-ribbon right-bottom fixed" href="https://github.com/alexandreroman/sta-trading-agent"
     data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
</footer>

<script th:src="@{/webjars/jquery/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>

</body>
</html>
