<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/images/sta.png}" width="24" height="24" alt="Trading Agent Invoker"/>
      Trading Agent Invoker</a>

    <div class="align-content-end">
      <span class="navbar-text">Powered by</span>
      <a href="https://tanzu.vmware.com/application-platform">
        <img th:src="@{/images/tap.png}" width="145" height="38"
             alt="VMware Tanzu Application Platform"/></a>
    </div>
  </div>
</nav>
